*{
    padding: 0;
    margin: 0 ;
    text-decoration: none;
}
.backgro{
    width: 100%;
    display: block;
}
.dattheonhom{
    padding: 3px 30px;
     float: right;
     border-radius: 5px;
     font-family: 'Bungee', cursive;
     margin-top: 30px;
     color: white;
     margin-right: 30px ;   
    background:#E97C00 ;
}
.dattheonhom:hover{
    color: #CE181F;
}
.nav-combo{
    font-family: 'Bungee', cursive;
    background-color: #CE181F;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 10px  black;

    
}
.a-combo{
    font-family: 'Bungee', cursive;
    padding: 10px 10px;
    font-size: 80%;
    text-align: center;
    color: white;
    line-height: 25px;
    display: block;
}
.a-combo:hover{
        background-color:#F4D069;
        color: #CE181F; 
}
.ul-combo{
        display: flex;
        justify-content: center;
}
.li-combo{
    list-style-type: none;
 
}
.flextren{
    display: flex;
}
.xuong-dong{
    display: flex;
}
.bogo1{
    display: block;
}
.bogo2{
    display:none;
}
@media screen and (max-width:925px) {
    .ul-combo{
        display: inline;
}
.flextren{

    justify-content: center;
}
.xuong-dong{
    display: flex;
    justify-content: center;
}
.bogo1{
    display: block;
}
.bogo2{
    display:none;
}

}
@media screen and (max-width:550px) {
    .bogo1{
        display:none;
    }
    .bogo2{
        display: block;
    }

}
@media screen and (max-width:600px) {
    .a-combo{
        font-size: 60%;
    }
    .dattheonhom{
        font-size: 70%;
    }
    
}
@media screen and (max-width:300px) {
    .a-combo{
        line-height: 15px;
    }
}

